@model Project.LoginRegTable

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/house.css" rel="stylesheet" />
    <style type="text/css">
        #pass1{
                width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
        }
        .f1 {
    height: 40px;
    color: white;
    padding-top: 0.5px;
    padding-right: 5px;
    height: 450px;
    background-image: url('../img/home.jpg');
    background-position: center center bottom;
    background-size: cover;
    min-width: 1362px;
}
    </style>
    <script type="text/javascript">

    </script>
    <style type="text/css">
 
    </style>
</head>
<body>
    @if (null != ViewBag.logError)
    {
        <script type="text/javascript">
            alert("@ViewBag.logError");
        </script>
    }
    <div id="id01" class="modal">
            @using (Html.BeginForm("LogIn", "Home", FormMethod.Post, new { @class = "modal-content animate" }))
            {
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="/img/images.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label><b>Username</b></label>
                @Html.EditorFor(model => model.usrEmail, new { htmlAttributes = new { @class = "input" } })
                <label><b>Password</b></label>
                @Html.PasswordFor(model => model.usrPasswd, new { @class = "input" })
                <button type="submit" class="button">Login</button>
                <input type="checkbox" checked="checked"> Remember me
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
            }
    </div>
    


    <div id="id02" class="modal">

        <form class="modal-content animate" action="@Url.Action("SignUp","Home")">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="/img/images.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">

                <label><b>First Name</b></label>
                @Html.EditorFor(model => model.usrFirstName, new { htmlAttributes = new { @class = "input" } })

                <label><b>Last Name</b></label>
                @Html.EditorFor(model => model.usrLastName, new { htmlAttributes = new { @class = "input" } })

                <label><b>Email</b></label>
                @Html.EditorFor(model => model.usrEmail, new { htmlAttributes = new { @class = "input" } })

                <label><b>Password</b></label>
                @Html.PasswordFor(model => model.usrPasswd, new { @class = "input" } )

                <label><b>Confirm Password</b></label>
                @Html.PasswordFor(model => model.usrConfPasswd, new { @class = "input" })

                <label><b>Enter Birthdate</b></label>
                @Html.TextBoxFor(model => model.usrDOB, new {@type="date",@class = "input" })

                <label><b>Enter your city</b></label>
                @Html.EditorFor(model => model.usrCity, new { htmlAttributes = new { @class = "input" } })
                <div class="clearfix">
                    <button type="submit" class="button" >Sign Up</button>
                </div>
                <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
            </div>
        </form>
    </div>
    <script>
var modal = document.getElementById('id01');
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
var modal = document.getElementById('id02');
window.onclick = function (event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

    </script>
    @ViewBag.dis
    @if (null != ViewBag.dis)
    {
        <script type="text/javascript">
            document.getElementById('id02').style.display = 'block'
        </script>
    }

    <div class="container-fluid ">
        <div class="row">
            <nav class="navbar-inverse navbar-fixed-top" style="opacity:0.8;">
                <div class="col-sm-12 btn-group">
                    <h4>
                        <b><i id="i1" style="color:white">MOB Recommender</i></b><span style="color:white" class="glyphicon glyphicon-home"></span>
                        <a href="@Url.Action("LogIn","Home")"><input value="Home" id="b2" class="btn"></a>
                        <a href="@Url.Action("Serv","Home")"><input value="Services" id="b2" class="btn"></a>
                        <a href="@Url.Action("Abts","Home")"><input value="About Us" id="b3" class="btn"></a>
                        <a href="@Url.Action("cont","Home")"><input value="Contact us " id="b4" class="btn"></a>
</h4>
                </div>
            </nav>
        </div>
            <div class="row f1">
        </div>
        <div class="row">
            <div class="col-sm-6" id="f3">
                <img src="~/img/jv.png" id="id1" class="img-circle" onclick="document.getElementById('id01').style.display='block'" style="width:auto;" /> <br>
            </div>
            <div class="col-sm-6" id="f4">
                <img src="/img/signup.png" id="id2" class="img-circle" onclick="document.getElementById('id02').style.display='block'" style="width:auto;" /><br>
            </div>
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12" id="f5" style="color:white;">
                Copy right reserved
            </div>
        </div>
    </div>
    
</body>
</html>
