<div *ngIf="updateclick" class="container">
    <br>
    <h1>Update form</h1><br>
    <form class="form-horizontal" action="/action_page.php">
    <div class="form-group">
        <label class="control-label col-sm-2">Name:</label>
        <div class="col-sm-6">
        <input type="text" class="form-control" id="name" placeholder="{{updateclick.name}}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Department:</label>
        <div class="col-sm-6">          
        <input type="text" class="form-control" id="department" placeholder="{{updateclick.department}}">
        </div>
    </div>
    <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary btn-large alignmargin">Update</button>
        <a href="" class="btn btn-danger btn-large alignmargin">Cancel</a>
        </div>
    </div>
    </form>
</div>        

